@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CalvinProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/Vue/vue.js" asp-append-version="true"></script>
    <script src="~/js/Axios.js" asp-append-version="true"></script>
    <script src="~/js/AxiosPostManager.js" asp-append-version="true"></script>
</head>
<body>
    <div class="wrapper">
        @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserId")))
        {
            <nav class="sidebar" id="Mainmenu">
                <div class="sidebar-header">
                    <h3>Calvin Main Menu</h3>
                </div>

                <ul class="navbar-nav">
                    <p>Menu Items</p>
                    <li class=" nav-item active">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"> Home </i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Orders" asp-action="Index"><i class="fa fa-shopping-cart"> Orders</i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-boxes"> Products</i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="Index"><i class="fa fa-user-tie"> Customers</i></a>
                    </li>
                </ul>

            </nav>
        }
        <div id="content" class="container-fluid">
            @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserId")))
            {
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span><i class="fa fa-bars"></i> Side Menu</span>
                        </button>
                    </div>

                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        @Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "btn btn-primary" })
                    </div>
                </nav>
            }
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CalvinProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <link rel="stylesheet" href="~/lib/FontAwesome/css/all.min.css" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('.sidebar').toggleClass('active');
        });
    });
</script>
