@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    @*<div id="dangerToast" role="alert" aria-live="assertive" aria-atomic="true" class="toast float-right alert alert-danger">
        <div id="dangerToastHead" class="toast-header alert alert-danger">
            <p id="dangerTextHead">Error<p>
        </div>
        <div id="danger" class="toast-body alert-danger">
            <p>{{errorMessage}}</p>
        </div>
    </div>*@

    <div id="dangerToast" class="toast float-right alert-dark" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header bg-primary text-white">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong class="mr-auto"> Error</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <p>{{errorMessage}}</p>
        </div>
    </div>


    <div id="successToast" role="alert" aria-live="assertive" aria-atomic="true"  class=" toast alert alert-success" data-delay="5000">
        <div id="successToastHead" class="toast-header alert alert-success">
            <p id="dangerTextHead">Success<p>
        </div>
        <div id="success" class="toast-body alert-success">
            <p>{{successMessage}}</p>
        </div>
    </div>
