@model CalvinProject.Models.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="AddProduct">
    @await Html.PartialAsync("~/Views/Shared/ToastsView.cshtml")
    <div class="container-fluid bg-white maxWidth">
        <h1>AddProduct</h1>
        <h4>Product</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="AddProduct">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input v-model="productModel.Name" v-bind:class="{'is-invalid': checkProductName(), 'form-control':true}" />
                        <div class="col-md-12" v-if="checkProductName()">
                            <span class="text-danger"> A valid product name is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input v-model="productModel.Price" v-bind:class="{'is-invalid': checkProductPrice(), 'form-control':true}" />
                        <div class="col-md-12" v-if="checkProductPrice()">
                            <span class="text-danger"> A valid product price is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input v-model="productModel.Description" v-bind:class="{'is-invalid': checkProductDescription(), 'form-control':true}" />
                        <div class="col-md-12" v-if="checkProductDescription()">
                            <span class="text-danger"> A valid product description is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input id="productImage" type="file" v-bind:class="{'form-control':true}" @@change="getImageDetials($event.target.files)" accept="image/*">

                    </div>

                    <div class="form-group">
                        <img v-bind:src="productModel.Image" height="200" alt="Image preview...">
                    </div>
                   
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" v-on:click="saveNewProduct()">Create Product</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var getProductsUrl = '@Url.Action("GetAllProducts", "Product")';
    var productSaveUrl = '@Url.Action("AddProduct", "Product")';
    $(document).ready(function () {
        $('#Mainmenu').find('.active').removeClass('active');
        $('#Mainmenu li').find('a[href*="' + location.pathname.split('/')[1] + '"]').closest('li').addClass('active');
    });
</script>
<script type="text/javascript" src="~/js/Product/AddProduct.js" asp-append-version="true"></script>



