@{
    ViewData["Title"] = "Home Page";
}

<div id="Products">
    <div class="container-fluid bg-white maxWidth">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse col-sm-12" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mr-3">
                            <li class="nav-item">
                                @Html.ActionLink("Add New Product", "AddProduct", "Product", null, new { @class = "btn btn-primary" })
                            </li>
                        </ul>
                        <form class="d-flex float-right">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search Products">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-sm-12 text-center">
            <h3>Products</h3>
        </div>
        <div class="col-sm-12">
            <div class="card-deck">
                <template v-if="products && products.length > 0">
                    <template v-for="item in products">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header text-center text-white bg-navy">
                                <img class="card-img-top" width="250" height="250" v-bind:src="item.image" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Item: {{item.name}}</h5>
                                <p class="card-text"></p>
                                <p class="card-text"> Item Description: {{item.description}}</p>
                                <p class="card-text"> Price: R {{item.price}}</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" v-on:click="editProduct(item)"><i class="fa fa-edit"> Edit Product</i></button>
                                <button class="btn btn-primary float-right"><i class="fa fa-remove"> Delete Product</i></button>
                            </div>
                        </div>
                    </template>
                </template>
                <template v-if="products && products.length == 0">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">No Products</h5>
                            <p class="card-text">Please Add Some Products</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-header text-center text-white bg-navy">
                            <i class="fa fa-boxes fa-10x"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Products</h5>
                            <p class="card-text">Go to products page</p>
                        </div>
                        <div class="card-footer">
                            @Html.ActionLink("Products", "Index", "Product", null, new { @class = "btn btn-primary col-sm-12" })
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var getProductsUrl = '@Url.Action("GetAllProducts", "Product")';
    var editProductsUrl = '@Url.Action("EditProduct", "Product")';
    $(document).ready(function () {
        $('#Mainmenu').find('.active').removeClass('active');
        $('#Mainmenu li').find('a[href="' + location.pathname + '"]').closest('li').addClass('active');
    });
</script>
<script type="text/javascript" src="~/js/Product/ProductManager.js" asp-append-version="true"></script>