
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-white maxWidth">
    <div class="col-sm-12 text-center">
        <h3>Products</h3>
    </div>
    <div class="col-sm-12">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center text-white bg-navy">
                    <i class="fa fa-boxes fa-5x"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">Go to products page</p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Products", "Index", "Product", null, new { @class = "btn btn-primary col-sm-12" })
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center text-white bg-navy">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Customers</h5>
                    <p class="card-text">Go to customers page</p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Customers", "Index", "Product", null, new { @class = "btn btn-primary col-sm-12" })
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center text-white bg-navy">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">Go to orders page</p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Orders", "Index", "Product", null, new { @class = "btn btn-primary col-sm-12" })
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center text-white bg-navy">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Carts</h5>
                    <p class="card-text">Go to carts page</p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Carts", "Index", "Product", null, new { @class = "btn btn-primary col-sm-12" })
                </div>
            </div>
        </div>
    </div>
</div>



